
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
    <label for="email">Email Address</label>
    <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
    />
    </div>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            placeholder="enter first_name"
        />
        </div>
        <div class="form-group">
            <label for="last_name">First Name</label>
            <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                placeholder="enter last_name"
            />
            </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
    />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>